{% extends 'main/pattern.html' %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'main/css/illustration_css.css' %}">{% endblock %}
{% block content %}
<main>
    <div class="vowels">
        <h3>Голосні</h3>
        <h4>Голосні переднього ряду</h4>

        <div class="front_row">
        {% for el in information%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>


        <h4>Голосні заднього ряду</h4>
        <div class="back_row">
            {% for el in information2%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

    </div>

    <div class="consonants">
        <h3>Приголосні</h3>
        <h4>Губні</h4>
        <h5>Губно-губні</h5>

        <div class="bilabial">
        {% for el in information3%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Губно-зубні</h5>
        <div class="labiodental">
        {% for el in information4%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h4>Передньоязикові</h4>
        <h5>Проривні</h5>
        <div class="alveolar_hard">
        {% for el in information5%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Щілинні</h5>
        <div class="alveolar_hard">
        {% for el in information6%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Африкати</h5>
        <div class="alveolar_hard">
        {% for el in information7%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>
        <div class="alveolar_hard">
        {% for el in information14%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Апроксимальні</h5>
        <div class="alveolar_hard">
        {% for el in information8%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Вібранти</h5>
        <div class="alveolar_hard">
        {% for el in information9%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h5>Передньоязикові альвеолярні</h5>
        <div class="alveolar_hard">
        {% for el in information10%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h4>Середньоязикові</h4>
        <div class="alveolar_hard">
        {% for el in information11%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h4>Задньоязикові</h4>
        <div class="alveolar_hard">
        {% for el in information12%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>

        <h4>Глоткові</h4>
        <div class="alveolar_hard">
        {% for el in information13%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Артикуляція звука {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p>{{el.description}}</p>
            </div>
        {%endfor%}
        </div>
    </div>

</main>
{% endblock %}
