{% extends 'main/pattern.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'main/css/home_css.css' %}">{% endblock %}

{% block lang_switch %}
<div class="dropleft">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate "Lang.:" %}
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
                <li>
                    <a class="dropdown-item" href="/{{lang.code}}/">
                        {{ lang.name_local }}
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}

{% block content %}
<main>
    <h2>{% translate "Ласкаво просимо на фонетичний сайт!" %}</h2>
    <div>
    <div class="alert alert-custom  fade in alert-dismissable show mt-2" style="font-size: 16px;
    text-indent: 3ch; color: #2F4F4F;">
        {% blocktrans %}
        <p><strong>Мета. </strong> Цей сайт було створено для допомоги у вивченні української фонетичної та звукової системи.
            До його цільової аудиторії входять дві групи зацікавлених: студенти-філологи й іноземці, що
            вивчають українську мову. Із цієї причини вебсторінка доступна також англійською (правий верхній
            куток). </p>
            {% endblocktrans %}
        <p>{% blocktrans %}
            <strong>Для студентів-філологів.</strong> Любі студенти, у розділі <a href="allsounds"><i>"Система
                фонем"</i></a> ви знайдете коротку характеристику голосних і приголосних української мови разом із
            класифікаційними таблицями. Натиснувши у таблицях на цікаву вам фонему, ви перейдете на окрему
            сторінку з <i>описом й ілюстрацією процесу артикуляції</i> відповідного їй звуку. Усі фонеми
            й звуки записано за допомогою символів Міжнародного фонетичного алфавіту (ІРА).

            {% endblocktrans %}</p>
        <p>{% blocktrans %}
             <strong>Для бажаючих вивчити українську.</strong> Ви можете ознайомитися з фонетичною системою
            української в розділі <a href="allsounds"><i>"Система фонем"</i></a>. Він характеризує українські
            голосні й приголосні, а також у зручному форматі таблиць класифікує їх.
            Натиснувши у таблицях на цікаву вам фонему, ви перейдете на окрему сторінку, присвячену
            відповідному їй звукові. Там ви знайдете ілюстрацію, опис й аудіозапис його вимови,
            відповідну йому літеру та приклади слів із ним. Також вибраний звук порівняно зі схожими звуками
            в англійській, німецькій та деяких інших мовах. Таким чином, можливо, ви зможете зіставити
            українську зі своєю рідною або відомою вам мовою. Розділ <a href="pictures"><i>"Схожі звуки"</i></a>
            дає можливість зіставити й порівняти звуки, що неносіям мови можуть видатися схожими. І, нарешті,
            за допомогою вправ ви можете <a href="pronunciation_checker"><i>потренувати власну вимову</i></a>
            {% endblocktrans %}</p>
    </div>
    </div>
</main>
{% endblock %}
