{% extends 'main/pattern.html' %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'main/css/illustration_css.css' %}">{% endblock %}

{% block content %}
<main>
    <div class="sidebar">
        <p>Content:</p>
        <p>Vowels:</p>
        <ul>
            <li><a href="#[ɪ] vs [i]">[ɪ] vs [i]</a></li>
        </ul>
        <p>Plain vs palatalized:</p>
        <ul>
            <li><a href="#[d̪] vs [dʲ]">[d̪] vs [dʲ]</a></li>
            <li><a href="#[t̪] vs [tʲ]">[t̪] vs [tʲ]</a></li>
            <li><a href="#[dz] vs [dzʲ]">[dz] vs [dzʲ]</a></li>
            <li><a href="#[ts] vs [tsʲ]">[ts] vs [tsʲ]</a></li>
            <li><a href="#[l] vs [lʲ]">[l] vs [lʲ]</a></li>
            <li><a href="#[r] vs [rʲ]">[r] vs [rʲ]</a></li>
        </ul>
        <p>Others:</p>
        <ul>
            <li><a href="#[p] vs [f]">[p] vs [f]</a></li>
            <li><a href="#[g] - [x] - [ɦ]">[g] - [x] - [ɦ]</a></li>
        </ul>
    </div>

    <div class="vowels">
        <h3>Vowels</h3>
        <h4 id = '[ɪ] vs [i]'>[ɪ] vs [i]</h4>
        <div class="front_row">
        {% for el in information%}
            {% if el.sound == '[і]' or el.sound == '[ɪ]' %}
              <!--<div class="image-container">
                <img src={{el.image.url}} class="visible">
              </div>

              <button onclick="previousImage()">Previous</button>
              <button onclick="nextImage()">Next</button>

              <script>
                let index = 0;
                const images = document.querySelectorAll('.image-container img');

                function showImage(index) {
                  images.forEach((img, i) => {
                    if (i === index) {
                      img.classList.add('visible');
                    } else {
                      img.classList.remove('visible');
                    }
                  });
                }

                function nextImage() {
                  index++;
                  if (index >= images.length) {
                    index = 0;
                  }
                  showImage(index);
                }

                function previousImage() {
                  index--;
                  if (index < 0) {
                    index = images.length - 1;
                  }
                  showImage(index);
                }
              </script> -->
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endif%}
        {%endfor%}
        </div>
        <div class="explanation">
            <p>It might be important to differentiate these two vowels, as in some cases they are the only sounds making a difference between two words. For example: <i>дим-дім</i> [d̪ɪm]-[d̪im] (smoke-house), <i>лис-ліс</i> [lɪs]-[lʲis] (fox-forest),<i>злива-зліва</i> ['zlɪva]-['zlʲiva] (heavy rain - on the left) ect.
                Both sounds belong to front vowels, and for a non-native speaker they might sound very similar. However, there are differences in articulation: during the pronunciation of [ɪ] the tongue is placed lower compared to [i].
                Try yourself, using the pictures and the audios.
            </p>
        </div>
    </div>

    <div class="consonants">
        <h3>Plain vs palatalized</h3>
        <h4 id="[d̪] vs [dʲ]">[d̪] vs [dʲ]</h4>
        <div class="alveolar">
        {% for el in information_d%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                        <audio  controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                </figure>
            </div>
        {%endfor%}
        </div>

        <h4 id="[t̪] vs [tʲ]">[t̪] vs [tʲ]</h4>
        <div class="alveolar">
        {% for el in information_t%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                </figure>
            </div>
        {%endfor%}
        </div>

        <h4 id="[dz] vs [dzʲ]">[dz] vs [dzʲ]</h4>
        <div class="alveolar">
        {% for el in information_dz%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                    <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        {%endfor%}
        </div>

        <h4 id="[ts] vs [tsʲ]">[ts] vs [tsʲ]</h4>
        <div class="alveolar">
        {% for el in information_ts%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                    <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        {%endfor%}
        </div>


        <h4 id="[l] vs [lʲ]">[l] vs [lʲ]</h4>
        <div class="alveolar">
        {% for el in information_l%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                    <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        {%endfor%}
        </div>

        <h4 id="[r] vs [rʲ]">[r] vs [rʲ]</h4>
        <div class="alveolar">
        {% for el in information_r%}
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <h5>Articulation of {{el.sound}}</h5>
                <img src={{el.image.url}} alt="Звук">
                <figure>
                    <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        {%endfor%}
        </div>

        <h3>Others</h3>
        <h4 id="[p] vs [f]">[p] vs [f]</h4>
        <div class="others">
            {% for el in information_p %}
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endfor%}

            {% for el in information_f %}
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endfor%}
        </div>

        <h4 id="[g] - [x] - [ɦ]">[g] - [x] - [ɦ]</h4>
        <div class = "others">
            {% for el in information_g %}
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endfor%}

            {% for el in information_x %}
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endfor%}

            {% for el in information_ɦ %}
                <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                    <h5>Articulation of {{el.sound}}</h5>
                    <img src={{el.image.url}} alt="Звук">
                    <figure>
                        <audio controls src={{el.audio.url}}>
                        Your browser does not support the <code>audio</code> element.
                        </audio>
                    </figure>
                </div>
            {%endfor%}
        </div>



    </div>
</main>
{% endblock %}
