{% extends 'main/pattern.html' %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'main/css/vowels_pattern.css' %}">{% endblock %}
{% block content %}
<main>
    <div class="header">
        <h2>{% block sound %}{% endblock %}</h2>
        <h6>фонема {% block phoneme %}{% endblock %}, літера {% block letter %}{% endblock %}</h6>
    </div>

    <div class="main_content">
        {% for el in information%}
        <h3>Артикуляція звука {{el.sound}}</h3>
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <figure><figcaption>Прослухайте аудіо запис:</figcaption>
                    <audio controls src={{el.audio.url}}>
                    Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>

                <p>{{el.description}}</p>
            </div>
        {%endfor%}
    </div>

</main>
{% endblock %}
