{% extends 'main/pattern.html' %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'main/css/consonants_pattern_.css' %}">{% endblock %}
{% block content %}
<main>
    <div class="header">
        <h2>{% block sound %}{% endblock %}</h2>
        <h3>Phoneme {% block phoneme %}{% endblock %}. Letters: {% block letter %}{% endblock %}</h3>
    </div>

    <div class="main_content">
        {% for el in information%}
        <h3>Articulation of the sound {{el.sound}}</h3>
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p style=" float: right; width: 40%;">{% block examples %}{% endblock %}</p>
                <figure><figcaption>Play the audio:</figcaption>
                    <audio controls src={{el.audio.url}}>
                    Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>

                <p style="width: 50%;">{{el.description}}</p>
            </div>
        {%endfor%}
        {% for el in information2%}
        <h3>Articulation of the sound {{el.sound}}</h3>
            <div class="alert alert-custom  fade in alert-dismissable show mt-2">
                <img src={{el.image.url}} alt="Звук" style="width:250px;height:200px;">
                <p style=" float: right; width: 40%;">{% block examples2 %}{% endblock %}</p>
                <figure><figcaption>Play the audio:</figcaption>
                    <audio controls src={{el.audio.url}}>
                    Your browser does not support the <code>audio</code> element.
                    </audio>
                </figure>
                <p style="width: 50%;">{{el.description}}</p>
            </div>
        {%endfor%}
    </div>

</main>
{% endblock %}
