{% extends 'main/pattern_for_pictures.html' %}
{% load static %}

<!--<aside>
        <h3>Навігація</h3>
        <div class="vowels">
            <h5><a href="#vowels">Голосні звуки</a></h5>
            <ul>
                <li><a href="#a">Звук [а]</a></li>
                <li><a href="#o">Звук [о]</a></li>
                <li><a href="#у">Звук [у]</a></li>
                <li><a href="#е">Звук [е]</a></li>
                <li><a href="#и">Звук [и]</a></li>
                <li><a href="#і">Звук [і]</a></li>
            </ul>
        </div>

        <div class="consonants">
            <h5><a href="#consonants">Приголосні звуки</a></h5>
            <h6><a href="#зімкненні">Зімкненні</a></h6>
            <ul>
                <li><a href="#б, п">Звуки [б], [п]</a></li>
                <li><a href="#д, т">Звуки [д], [т]</a></li>
                <li><a href="#д', т'">Звуки [д'], [т']</a></li>
                <li><a href="#ґ, к">Звуки [ґ], [к]</a></li>
                <li><a href="#м">Звук [м]</a></li>
                <li><a href="#н">Звук [н]</a></li>
                <li><a href="#н'">Звук [н']</a></li>
            </ul>

            <h6><a href="#щілинні">Щілинні</a></h6>
            <ul>
                <li><a href="#в">Звук [в]</a></li>
                <li><a href="#w">Звук [w]</a></li>
                <li><a href="#ф">Звуки [ф]</a></li>
                <li><a href="#з, с">Звуки [з], [с]</a></li>
                <li><a href="#з', с'">Звуки [з'], [с']</a></li>
                <li><a href="#ж, ш">Звуки [ж], [ш]</a></li>
                <li><a href="#г">Звук [г]</a></li>
                <li><a href="#х">Звук [х]</a></li>
                <li><a href="#л">Звук [л]</a></li>
                <li><a href="#л''">Звук [л']</a></li>
                <li><a href="#й">Звук [й]</a></li>
            </ul>

            <h6><a href="#зімкненно-щілинні">Зімкненно-щілинні</a></h6>
            <ul>
                <li><a href="#дж, ч">Звуки [дж], [ч]</a></li>
                <li><a href="#дз, ц">Звуки [дз], [ц]</a></li>
                <li><a href="#дз', ц'">Звуки [дз'], [ц']</a></li>
            </ul>

            <h6><a href="#вібранти">Вібранти</a></h6>
            <ul>
                <li><a href="#р">Звук [р]</a></li>
                <li><a href="#р'">Звук [р']</a></li>
            </ul>
        </div>
</aside>

    <main>
        <div class="vowels">
            <h1>Артикуляція звуків в українській мові</h1>
            <h3><a name="vowels">Голосні звуки</a></h3>
            <h5><a name="a">Звук [a]</a></h5>

            <img src="{% static 'main/img/coursework_images/a.png' %}" alt="Звук [а]" style="width:250px;height:200px;">
            <p> -щелепи відкриті найширше, порівняно з вимовою інших голосних; <br>
            -губи активної участі в артикуляції не беруть, ненапружені;<br>
            - язик має задньодорсальну форму, трохи відтягнений до стінки глотки, відносно твердого піднебіння мінімально піднятий, задня частина трохи піднята вгору;<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="o">Звук [o]</a></h5>
            <img src="{% static 'main/img/coursework_images/о.png' %}" alt="Звук [о]" style="width:250px;height:200px;">
            <p> - щелепи відкриті менше, порівняно з вимовою [а]; <br>
            - губи беруть активну участь в артикуляції, заокруглені та випнуті вперед;<br>
            - язик має задньодорсальну форму, задня частина спинки відсунена назад, відносно твердого піднебіння піднятий вище, ніж при вимові [а];<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="у">Звук [у]</a></h5>
            <img src="{% static 'main/img/coursework_images/у.png' %}" alt="Звук [у]" style="width:250px;height:200px;">
            <p> - щелепи трохи відкриті; <br>
            - губи беруть активну участь в артикуляції, сильно заокруглені та випнуті вперед;<br>
            - язик має задньодорсальну форму, відтягнений назад, відносно твердого піднебіння високо піднятий до м’якого піднебіння;<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="е">Звук [е]</a></h5>
            <img src="{% static 'main/img/coursework_images/е.png' %}" alt="Звук [е]" style="width:250px;height:200px;">
            <p> - щелепи відкриті менше, порівняно з вимовою [а], але більше, порівняно з [и] та [і]; <br>
            - губи активної участі в артикуляції не беруть, трохи розтягнені;<br>
            - язик має передньодорсальну форму, спинка просунена ближче до середини твердого піднебіння, відносно твердого піднебіння трохи піднятий вгору;<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="и">Звук [и]</a></h5>
            <img src="{% static 'main/img/coursework_images/и.png' %}" alt="Звук [и]" style="width:250px;height:200px;">
            <p> - щелепи відкриті менше, порівняно в вимовою [е], відстань між ними невелика; <br>
            - губи активної участі в артикуляції не беруть, розтягнені трохи більше, ніж при вимові  [е];<br>
            - язик має передньодорсальну форму, спинка просунена до середини твердого піднебіння більше, ніж при вимові [е]; відносно твердого піднебіння піднятий вгору майже на половину, передня частина спинки язика опукла;<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="і">Звук [і]</a></h5>
            <img src="{% static 'main/img/coursework_images/і.png' %}" alt="Звук [і]" style="width:250px;height:200px;">
            <p> - щелепи розташовані дуже близько одна до одної; <br>
            - губи активної участі в артикуляції не беруть, розтягнені більше, ніж при вимові  [и];<br>
            - язик має передньодорсальну форму, спинка просунена до середини твердого піднебіння більше, ніж при вимові [и] і вище піднята;<br>
            - голосові зв’язки вібрують; <br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>
        </div>

        <div class="consonants">
            <h3><a name="consonants">Приголосні звуки</a></h3>
            <h4><a name="зімкненні">Зімкненні</a></h4>
            <h5><a name="б, п">Звуки [б], [п]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова б, п.png' %}" alt="Звуки [б], [п]" style="width:250px;height:200px;">
            <h6>Звук [б]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи зімкнені, напружені, трохи випнуті;<br>
            - шум утворюється при швидкому розімкненні губ, що супроводжується видихом повітря;<br>
            - язик має задньодорсальну форму, трохи відтягнений назад, задня частина піднята до твердого піднебіння; <br>
            - голосові зв’язки вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <h6>Звук [п]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи зімкнені, менш напружені, ніж при артикуляції [б];<br>
            - шум утворюється при швидкому розімкненні губ, що супроводжується видихом повітря;<br>
            - язик має задньодорсальну форму, трохи відтягнений назад, задня частина піднята до твердого піднебіння; <br>
            - голосові зв’язки не вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="д, т">Звуки [д], [т]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова д.png' %}" alt="Звук [д]" style="width:250px;height:200px;">
            <h6>Звук [д]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи ненапружені, активної участі не беруть;<br>
            - кінчик язика напружений, змикається з передніми верхніми зубами та початком альвеол; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика ввігнута;<br>
            - шум утворюється при швидкому розімкненні язика з зубами, що супроводжується видихом повітря; <br>
            - голосові зв’язки вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <img src="{% static 'main/img/coursework_images/курсова т.png' %}" alt="Звук [т]" style="width:250px;height:200px;">
            <h6>Звук [т]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи ненапружені, активної участі не беруть;<br>
            - кінчик язика напружений, змикається з передніми верхніми зубами та початком альвеол трохи вище, ніж під час вимови [д]; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика ввігнута;<br>
            - шум утворюється при швидкому розімкненні язика з зубами, що супроводжується видихом повітря; <br>
            - голосові зв’язки не вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="д', т'">Звуки [д'], [т']</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова д мягкая.png' %}" alt="Звук [д']" style="width:250px;height:200px;">
            <h6>Звук [д']</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи ненапружені, активної участі не беруть;<br>
            -  кінчик язика напружений, змикається з передніми верхніми зубами та початком альвеол; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика наближається до твердого піднебіння;<br>
            - шум утворюється при швидкому розімкненні язика з зубами, що супроводжується видихом повітря; <br>
            - голосові зв’язки вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <img src="{% static 'main/img/coursework_images/курсова т мягкая.png' %}" alt="Звук [т']" style="width:250px;height:200px;">
            <h6>Звук [т']</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи ненапружені, активної участі не беруть;<br>
            - кінчик язика напружений, змикається з передніми верхніми зубами та початком альвеол трохи вище, ніж під час вимови [д']; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика наближається до твердого піднебіння;<br>
            - шум утворюється при швидкому розімкненні язика з зубами, що супроводжується видихом повітря; <br>
            - голосові зв’язки не вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="ґ, к">Звуки [ґ], [к]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова ґ, к.png' %}" alt="Звуки [ґ], [к]" style="width:250px;height:200px;">
            <h6>Звук [ґ]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи майже ненапружені, активної участі не беруть;<br>
            - язик має задньодорсальну форму, задня частина язика зімкнута з м'яким піднебінням; <br>
            - шум утворюється при швидкому розімкненні язика з м’яким піднебінням, що супроводжується видихом повітря; <br>
            - голосові зв’язки вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <h6>Звук [к]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи майже ненапружені, активної участі не беруть;<br>
            - язик має задньодорсальну форму, задня частина язика зімкнута з м'яким піднебінням; <br>
            - шум утворюється при швидкому розімкненні язика з м’яким піднебінням, що супроводжується видихом повітря; <br>
            - голосові зв’язки не вібрують;<br>
             -м’яке піднебіння закриває вхід у носову порожнину. </p>
            <hr>

            <h5><a name="м">Звук [м]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова м.png' %}" alt="Звук [м]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
            - губи зімкнені, злегка напружені, трохи випнуті;<br>
            - язик має задньодорсальну форму, трохи відтягнений назад, задня частина піднята до твердого піднебіння; <br>
            - голосові зв’язки вібрують;<br>
             - увула  опущена, тобто м’яке піднебіння не закриває вхід у носову порожнину; <br>
                - шум утворюється при швидкому розімкненні язика з м’яким піднебінням, що супроводжується видихом повітря. </p>
            <hr>

            <h5><a name="н">Звук [н]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова н.png' %}" alt="Звук [н]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи ненапружені, активної участі не беруть;<br>
                -	кінчик язика напружений, змикається з передніми верхніми зубами та альвеолами; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика ввігнута;<br>
                -	голосові зв’язки  вібрують;<br>
                -	увула  опущена;<br>
                -	 шум утворюється під час проходження струменя повітря через носову порожнину.</p>
            <hr>

            <h5><a name="н'">Звук [н']</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова н мягкая.png' %}" alt="Звук [н']" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної;<br>
                -	губи ненапружені, активної участі не беруть;<br>
                -	кінчик язика напружений, змикається з передніми верхніми зубами та альвеолами; з внутрішньої  сторони прилягає до нижніх зубів, середня спинка язика наближається до твердого піднебіння;<br>
                -	голосові зв’язки  вібрують;<br>
                -	увула  опущена;<br>
                -	 шум утворюється під час проходження струменя повітря через носову порожнину.</p>
            <hr>

            <h4><a name="щілинні">Щілинні</a></h4>
            <h5><a name="в">Звук [в]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова в губно-зубна.png' %}" alt="Звук [в]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	верхні передні зуби дотикаються до нижньої губи; <br>
                -	язик має задньодорсальну форму, відтягнений назад більше, ніж при вимові [б], задня частина піднята до твердого піднебіння;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;
                -	увула не опущена.</p>
            <hr>

            <h5><a name="w">Звук [w]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсов в губно-губна.png' %}" alt="Звук [w]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи випнуті, округлені, зближені одна з одною так, що утворюють маленьку щілину;<br>
                -	язик має задньодорсальну форму, середня  спинка язика піднята до твердого піднебіння, язик відсунений назад;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="ф">Звук [ф]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова ф.png' %}" alt="Звук [ф]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	верхні передні зуби зближаються з нижньою губою;<br>
                -	язик має задньодорсальну форму;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="з, с">Звуки [з], [с]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова з,с.png' %}" alt="Звуки [з], [с]" style="width:250px;height:200px;">
            <h6>Звук [з]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи відкриті та злегка розтягненні;<br>
                -	язик передньодорсальну форму, кінчик язика напружений, наближений до передніх верхніх зубів й альвеол, краї язика притиснуті до верхніх бокових зубів і частково до твердого піднебіння;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6>Звук [с]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            -	губи трохи відкриті та злегка розттягненні;<br>
            -	язик передньодорсальну форму, кінчик язика напружений, наближений до передніх верхніх зубів й альвеол, краї язика притиснуті до верхніх бокових зубів і частково до твердого піднебіння;<br>
            -	шум утворюється при проходженні повітря через щілину;<br>
            -	голосові зв’язки не вібрують;<br>
            -	увула не опущена.</p>
            <hr>

            <h5><a name="з', с'">Звуки [з'], [с']</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова з, с мягкие.png' %}" alt="Звуки [з'], [с']" style="width:250px;height:200px;">
            <h6>Звук [з']</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи відкриті та злегка розттягненні;<br>
                -	язик передньодорсальну форму, кінчик язика напружений, наближений до передніх верхніх зубів й альвеол, середня частина язика піднята до твердого піднебіння, краї язика притиснуті до верхніх бокових зубів і частково до твердого піднебіння;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6>Звук [с']</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи відкриті та злегка розттягненні;<br>
                -	язик передньодорсальну форму, кінчик язика напружений, наближений до передніх верхніх зубів й альвеол, середня частина язика піднята до твердого піднебіння, краї язика притиснуті до верхніх бокових зубів і частково до твердого піднебіння;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="ж, ш">Звуки [ж], [ш]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова ж, ш.png' %}" alt="Звуки [ж], [ш]" style="width:250px;height:200px;">
            <h6>Звук [ж]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи округлені та випинають уперед;<br>
                -	кінчик язика наближений до альвеол й утворює перший фокус, задня частина спинки язика наближена до м’якого піднебіння й утворює другий фокус, середина язика ввігнута;<br>
                -	шум утворюється при проходженні повітря через щілини;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6>Звук [ш]</h6>
            <p> - щелепи розташовані близько одна до одної; <br>
            -	губи трохи округлені та випинають уперед;<br>
            -	кінчик язика наближений до альвеол й утворює перший фокус, задня частина спинки язика наближена до м’якого піднебіння й утворює другий фокус, середина язика ввігнута;<br>
            -	шум утворюється при проходженні повітря через щілини;<br>
            -	голосові зв’язки не вібрують;<br>
            -	увула не опущена.</p>
            <hr>

            <h5><a name="г">Звук [г]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова г.png' %}" alt="Звук [г]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	 губи ненапружені, активної участі не беруть;<br>
                -	язик має задньодорсальну форму, корінь язика відтягується до стінки глотки;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="х">Звук [х]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова х.png' %}" alt="Звук [х]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи ненапружені, активної участі не беруть;
                -	язик має задньодорсальну форму, задня частина язика зближується з краєм твердого та початком м’якого піднебіння; <br>
                -	шум утворюється при проходженні повітря через щілину; <br>
                -	голосові зв’язки не вібрують; <br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="л">Звук [л]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова л.png' %}" alt="Звук [л]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи ненапружені, активної участі не беруть;<br>
                -	язик має передньодорсальну форму, кінчик язика напружений, впирається у верхні різці або альвеоли, задня частина спинки трохи піднята вгору, краї язика не притиснуті до бокових зубів і утворюють щілини;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="л'">Звук [л']</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова л мягкая.png' %}" alt="Звук [л']" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи ненапружені, активної участі не беруть;<br>
                -	язик має передньодорсальну форму, кінчик язика напружений, впирається у верхні різці або альвеоли, задня частина спинки трохи піднята вгору, середня частина язика наближається до ьвердого піднебіння, краї язика не притиснуті до бокових зубів і утворюють щілини;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="й">Звук [й]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова й.png' %}" alt="Звук [й]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи активної участі у творенні не беруть;<br>
                -	язик має передньодорсальну форму; середня частина спинки язика піднімається до твердого піднебіння; кінчик язика опущениий, біля нижніх зубів;<br>
                -	шум утворюється при проходженні повітря через щілину;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h4><a name="зімкненно-щілинні">Зімкненно-щілинні</a></h4>
            <h5><a name="дж, ч">Звуки [дж], [ч]</a></h5>
            <h6><a name="дж">Звук [дж]</a></h6>
            <img src="{% static 'main/img/coursework_images/курсова ч, дж.png' %}" alt="Звуки [дж], [ч]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи злегка округлені та випнуті вперед;<br>
                -	кінчик язика змикається з краєм твердого піднебіння, задня частина спинки язика наближена до м’якого піднебіння, середня частина язика ввігнута;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з краєм твердого піднебіння у щілину між ними;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6><a name="ч">Звук [ч]</a></h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи злегка округлені та випнуті вперед;<br>
                -	кінчик язика змикається з краєм твердого піднебіння, задня частина спинки язика наближена до м’якого піднебіння, середня частина язика ввігнута;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з краєм твердого піднебіння у щілину між ними;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="дз, ц">Звуки [дз], [ц]</a></h5>
            <h6><a name="дз">Звук [дз]</a></h6>
            <img src="{% static 'main/img/coursework_images/курсова ц, дз.png' %}" alt="Звуки [дз], [ц]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи розтягнені;<br>
                -	язик має передньодорсальну форму, кінчик язика змикається з верхніми передніми зубами й альвеолами;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з верхніми передніми зубами й альвеолами у щілину між ними;<br>
                -	твердого піднебіння у щілину між ними;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6><a name="ц">Звук [ц]</a></h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи розтягнені;<br>
                -	язик має передньодорсальну форму, кінчик язика змикається з верхніми передніми зубами й альвеолами;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з верхніми передніми зубами й альвеолами у щілину між ними;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="дз', ц'">Звуки [дз'], [ц']</a></h5>
            <h6><a name="дз'">Звук [дз']</a></h6>
            <img src="{% static 'main/img/coursework_images/курсова ц, дз мягкие.png' %}" alt="Звуки [дз'], [ц']" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи розтягнені;<br>
                -	язик має передньодорсальну форму, кінчик язика змикається з верхніми передніми зубами й альвеолами, середня частина язика піднята до твердого піднебіння;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з верхніми передніми зубами й альвеолами у щілину між ними;<br>
                -	твердого піднебіння у щілину між ними;<br>
                -	голосові зв’язки вібрують;<br>
                -	увула не опущена.</p>
            <h6><a name="ц'">Звук [ц']</a></h6>
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи трохи розтягнені;<br>
                -	язик має передньодорсальну форму, кінчик язика змикається з верхніми передніми зубами й альвеолами, середня частина язика піднята до твердого піднебіння;<br>
                -	шум утворюється під час переходу зімкнення кінчика язика з верхніми передніми зубами й альвеолами у щілину між ними;<br>
                -	твердого піднебіння у щілину між ними;<br>
                -	голосові зв’язки не вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h4><a name="вібранти">Вібранти</a></h4>
            <h5><a name="р">Звук [р]</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова р.png' %}" alt="Звук [р]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи розслаблені, активної участі в артикуляції не приймають;<br>
                -	язик має  передньодорсальну форму, кінчик язика напружений, декілька разів вібрує, змикаючись та розмикаючись з альвеолами ;<br>
                -	голосові зв’язки  вібрують;<br>
                -	увула не опущена.</p>
            <hr>

            <h5><a name="р'">Звук [р']</a></h5>
            <img src="{% static 'main/img/coursework_images/курсова р мягкая.png' %}" alt="Звук [р]" style="width:250px;height:200px;">
            <p> - щелепи розташовані близько одна до одної; <br>
                -	губи розслаблені, активної участі в артикуляції не приймають;<br>
                -	язик має  передньодорсальну форму, кінчик язика напружений, декілька разів вібрує, змикаючись та розмикаючись з альвеолами, середня частина язика піднята до твердого піднебіння ;<br>
                -	голосові зв’язки  вібрують;<br>
                -	увула не опущена.</p>

        </div>

    </main> -->
