{% extends 'main/pattern_for_vowels.html' %}
{% load static %}

{% block sound %}[ɛ]{% endblock %}
{% block phoneme %}/ɛ/{% endblock %}
{% block letter %}е, є{% endblock %}
{% block examples %}<i>In other languages:</i>
English (American): [ɛ] in <i>b<b>e</b>d</i>;
German: [ɛ] in <i>B<b>e</b>tt</i>, <i>G<b>e</b>ld</i>;

<i>Pertinent letter/s</i>
<b>1) e: </b>
For example:<b>е</b>л<b>е</b>м<b>е</b>нт /<b>ɛ</b>l<b>ɛ</b>'m<b>ɛ</b>nt/ (noun, m., sing,) - element<br>
<b>є: </b>stands for two sounds: [jɛ].
For example:<b>є</b>днати /j<b>ɛ</b>d̪'n̪ɑt̪ɪ/ - to unite;
{% endblock %}