{% extends 'main/pattern_for_vowels.html' %}
{% load i18n %}
{% load static %}

{% block lang_switch %}
<div class="dropleft">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate "Мова:" %}
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
                <li>
                    <a class="dropdown-item" href="/{{lang.code}}/sound_ɑ">
                        {{ lang.name_local }}
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}

{% block sound %}[ɑ]{% endblock %}
{% block phoneme %}/ɑ/{% endblock %}
{% block letter %}а; я{% endblock %}
{% block examples %}<i>{% translate "In other languages:" %}</i>
{% translate "English (British):" %} {% translate "similar to the sound" %} [ɑ:] {% translate "in" %} <i>f<b>a</b>ther</i>, {% translate "but shorter" %};
{% translate "German:" %} [ɑ] {% translate "in" %} <i>H<b>a</b>se</i>, <i><b>A</b>hnung</i>;

<i>{% translate "Pertinent letter/s" %}</i>
<b>1) а: </b><b>а</b>н<b>а</b>н<b>а</b>с /<b>ɑ</b>n<b>ɑ</b>n'<b>ɑ</b>s/ (noun, m., sing,) - pineaple
<b>2) я: </b>
<b>2.1)</b> {% translate "<i>after a consonant</i> stands for ɑ-sound, making the consonant palatalised." %}
{% translate "For example" %}: д<b>я</b>кую /'dʲ<b>ɑ</b>kuju/ - thank you
<b>2.2)</b> {% translate "<i>after a vowel</i> and <i>at the beginning of a syllable</i> stands for two sounds" %}: [jɑ].
{% translate "For example" %}:
- <b>я</b>кість /j<b>ɑ</b>kistʲ/ (noun, f., sing,) - quality;
- по<b>я</b>снити /pɔj<b>ɑ</b>s'n̪ɪtɪ/ - to explain
{% endblock %}
