{% extends 'main/pattern_for_consonants.html' %}
{% load i18n %}
{% load static %}

{% block lang_switch %}
<div class="dropleft">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lang.:
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
                <li>
                    <a class="dropdown-item" href="/{{lang.code}}/sound_d_t">
                        {{ lang.name_local }}
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}

{% block sound %}[d̪] and [t̪]{% endblock %}
{% block phoneme %}/d̪/ and /t̪/{% endblock %}
{% block letter %}д and т{% endblock %}
{% block examples %}<i>{% translate "In other languages:" %}</i>
English and German: differs from [d] with the position of the tongue's tip: to produce Ukrainian [d̪] it touches back of front upper teeth and just a bit of alveolar ridge, and in English and German [d] it contacts only with the alveolar ridge.
However, acoustically the difference is minimal, and pronouncing the English/German sound instead you will not compromise the comprehensibility.
Spanish: [d̪] in <i><b>d</b>ucha</i>, <i><b>d</b>isco</i>.
Polish: [d̪]

<i>{% translate "Pertinent letter/s" %}:</i>
<b>д: </b><b>д</b>ах /<b>d̪</b>ɑх/ (noun, m., sing,) - roof
{% endblock %}

{% block examples2 %}<i>In other languages:</i>
English and German: the same difference as between Ukrainian [d̪] and English/German [d].
Spanish: [t̪] in <i>ro<b>t</b>o</i>.
Polish: [t̪]

<i>Pertinent letter/s</i>
<b>т: </b><b>т</b>ак /<b>t̪</b>ɑk/ - yes.
{% endblock %}