{% extends 'main/pattern_for_consonants.html' %}
{% load i18n %}
{% load static %}

{% block lang_switch %}
<div class="dropleft">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lang.:
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
                <li>
                    <a class="dropdown-item" href="/{{lang.code}}/sound_dj_tj">
                        {{ lang.name_local }}
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}

{% block sound %}[dʲ] i [tʲ]{% endblock %}
{% block phoneme %}/dʲ/ i /tʲ/{% endblock %}
{% block letter %}д i т{% endblock %}
{% block examples %}<i>{% translate "In other languages:" %}</i>
It differs from English and German /d/ with the form of the tongue: when pronouncing /dʲ/ the middle part of the tongue back is rounded and approaches the hard palate; whereas pronouncing /d/ it is concave. It is quite important to differentiate between /d/ and /dʲ/ in order not to compromise the comprehensibility.


<i>{% translate "Pertinent letter/s" %}:</i> <b>д </b> when followed by і, я, ю, є, ь.
{% translate "For example" %}:
- <b>д</b>ім /<b>dʲ</b>im/ (noun, m., sing.) — house;
- <b>д</b>якую /'<b>dʲ</b>ɑkuju/ — thank you.
{% endblock %}

{% block examples2 %}<i>{% translate "In other languages:" %}</i>
It differs from English and German /t/ with the form of the tongue: when pronouncing /tʲ/ the middle part of the tongue back is rounded and approaches the hard palate; whereas pronouncing /t/ it is concave. It is quite important to differentiate between /t/ and /tʲ/ in order not to compromise the comprehensibility.

<i>{% translate "Pertinent letter/s" %}:</i> <b>т </b> when followed by і, я, ю, є, ь.
{% translate "For example" %}:
- <b>т</b>інь /<b>tʲ</b>inʲ/ (noun, f., sing.) — shadow.
{% endblock %}