{% extends 'main/pattern_for_consonants.html' %}
{% load i18n %}
{% load static %}

{% block lang_switch %}
<div class="dropleft">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lang.:
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
                <li>
                    <a class="dropdown-item" href="/{{lang.code}}/sound_dzj_tsj">
                        {{ lang.name_local }}
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}

{% block sound %}[dzʲ] i [tsʲ]{% endblock %}
{% block phoneme %}/dzʲ/ i /tsʲ/{% endblock %}
{% block letter %}дз i ц{% endblock %}
{% block examples %}<i>{% translate "In other languages:" %}</i>
There is no similar sound in English or German.

<i>{% translate "Pertinent letter/s" %}:</i> <b>дз</b> when followed by і, я, ю, є, ь.
{% translate "For example" %}:
-
{% endblock %}

{% block examples2 %}<i>{% translate "In other languages:" %}</i>
There is no similar sound in English or German.

<i>{% translate "Pertinent letter/s" %}:</i> <b>ц</b> when followed by і, я, ю, є, ь.
{% translate "For example" %}:
-
-
- пра<b>ц</b>я /pr'ɑ<b>ts</b>ʲɑ/ (noun, f., sing.) - labor;
- пра<b>ц</b>ює /prɑ<b>'ts</b>ʲujɛ/ (verb, 3 person sing., present tense) - (he/ she/ it) works;
{% endblock %}
