{% extends 'main/pattern_for_vowels.html' %}
{% load static %}

{% block sound %}[ɑ]{% endblock %}
{% block phoneme %}/ɑ/{% endblock %}
{% block letter %}а; я{% endblock %}
{% block examples %}<i>In other languages:</i>
English (British): similar to the sound [ɑ:] in <i>f<b>a</b>ther</i>, but shorter;
German: [ɑ] in <i>H<b>a</b>se</i>, <i><b>A</b>hnung</i>;

<i>Pertinent letter/s</i>
<b>1) а: </b><b>а</b>н<b>а</b>н<b>а</b>с /<b>ɑ</b>n<b>ɑ</b>n'<b>ɑ</b>s/ (noun, m., sing,) - pineaple
<b>2) я: </b>
<b>2.1)</b> <i>after a consonant</i> stands for ɑ-sound, making the consonant palatalised.
For example: д<b>я</b>кую /'dʲ<b>ɑ</b>kuju/ - thank you
<b>2.2)</b> <i>after a vowel</i> and <i>at the beginning of a syllable</i> stands for two sounds: [jɑ].
For example:
- <b>я</b>кість /j<b>ɑ</b>kistʲ/ (noun, f., sing,) - quality;
- по<b>я</b>снити /pɔj<b>ɑ</b>s'n̪ɪtɪ/ - to explain
{% endblock %}
