{% extends 'main/pattern_for_consonants.html' %}
{% load static %}

{% block sound %}[n̪]{% endblock %}
{% block phoneme %}/n̪/{% endblock %}
{% block letter %}н{% endblock %}
{% block examples %}<i>In other languages:</i>
English and German: differs from [n] with the position of the tongue's tip: to produce Ukrainian [n̪] it touches back of front upper teeth and just a bit of alveolar ridge, and in English and German [n] it contacts only with the alveolar ridge.
However, acoustically the difference is minimal, and pronouncing the English/German sound instead you will not compromise the comprehensibility.
Spanish: [n̪] in <i>dó<b>n</b>de</i>.
Polish: [n̪] in <i>ra<b>n</b>o</i>

<i>Pertinent letter/s</i>
<b>н: </b><b>н</b>омер /'<b>n̪</b>ɔmɛr/ (noun, m., sing,) - number
{% endblock %}