/* aside {
    float: left;
    background: white;
    width: 20%;
    padding: 2%;
    height: 1000vh;
    color: #2F4F4F;
    border-right: 5px solid #A9A9A9;
}

aside h3 {
    margin-top: 50px;
}

aside h5 a {
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside h6 a {
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside ul{
    list-style: none;
    margin-left:40px;
}

aside ul a{
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside ul a:hover, aside ul li:hover, aside h5 a:hover, aside h6 a:hover {
    color: #F08080;
    transform: scale(1.03);
} */

main {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}


.front_row, .bilabial, .alveolar_hard, .back_row, .labiodental{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.vowels h3, h4, h5 {
    text-align: center;
}

.consonants h3, h4 {
    text-align: center;
}

main p{
    white-space: pre-line;
}

.alert-custom{
  background-color:#FFE4E1;
  color:#2F4F4F;
  border: 1px solid;
  width:25%;
}
