/* aside {
    float: left;
    background: white;
    width: 20%;
    padding: 2%;
    height: 1000vh;
    color: #2F4F4F;
    border-right: 5px solid #A9A9A9;
}

aside h3 {
    margin-top: 50px;
}

aside h5 a {
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside h6 a {
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside ul{
    list-style: none;
    margin-left:40px;
}

aside ul a{
    color: #2F4F4F;
    display: block;
    margin-top: 5px;
    transition: transform .4s ease;
}

aside ul a:hover, aside ul li:hover, aside h5 a:hover, aside h6 a:hover {
    color: #F08080;
    transform: scale(1.03);
} */

main {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 10px;
}

.sidebar {background: #FFE4E1; position: fixed; z-index: 1; top: 0; left: 0;
  height: 100%; width: 15%; overflow-x: hidden; padding-top: 100px;}

.sidebar > p {padding-left: 10px; margin-bottom:0px; color: #2F4F4F;}
.sidebar > ul {padding-left:30px; color: #2F4F4F; font-style: italic;}
.sidebar > ul a {padding-left:5px;  color: #2F4F4F; font-size: 14px;}

.front_row, .others, .alveolar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.vowels h3, h4, h5 {
    text-align: center;
}

.consonants h3, h4 {
    text-align: center;
}


main p{font-size: 16px; white-space: pre-line;}

.alert-custom{
  background-color:#FFE4E1;
  color:#2F4F4F;
  border: 1px solid;
  width:25%;
  justify-content: center;
}
