body {
    background: white;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

.navbar {
    font-family: "Times New Roman", Times, serif;
    overflow: hidden;
    background: #2F4F4F;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    color: #FFE4E1;
}

.navbar-brand{
    font-style: italic;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
}

.selectpicker {
    font-family: "Times New Roman", Times, serif;
    margin: 2rempx 0px;
    background: #C0C0C0;
    color: #2F4F4F;
}

@media (max-width:600px) {
    .navbar {
        width: 100%;
    }
}

@media (min-width:601px) {
    .navbar {
        width: 100%;
    }

}

@media (min-width:768px) {
    .navbar {
        width: 100%;
    }
}

@media (min-width:992px) {
    .navbar {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .navbar {
        width: 100%;
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 35px;
    }
}
