body {
    background: white;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

.navbar {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    overflow: hidden;
    background: #2F4F4F;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    color: #FFE4E1;
}
.navbar-brand{
    font-style: italic;
    font-size: 35px;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
}

.selectpicker {
    font-family: "Times New Roman", Times, serif;
    margin: 2rempx 0px;
    background: #C0C0C0;
    color: #2F4F4F;
}
